*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    &::-webkit-scrollbar{
        display: none;
    }
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper{
    width: 100%;
    height:100vh;
    background-color: #fff;
}

nav{
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: #eee;

    div i{
        margin-right: 10px;
    }

    h1{
        letter-spacing: 5px;
        font-size: 1.5rem;
    }

    div,a{
        text-decoration: none;
        color:white;
        padding:10px 20px;
        margin-left: 90px;
        margin-right:135px;
        background-color: #6d6dfa;
    }
}

#content{

    display: flex;
    padding:50px 100px;

    #left-sec{
        padding:8px;
        width:20%;
        border:3px solid #cecece;
        overflow-y:auto;
        #users_online{
            div{
                padding:10px;
                background-color: #6d6dfa;
                color:white;
                margin-top: 5px;
            }
            
        }

        #online_header{
            background-color: #6d6dfa;
            color:white;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding:15px 10px ;
        }
    }

    #right-sec{
        width:75%;
        margin-left: 20px;
    }
    #chat_box{
        width:100%;
        height:60vh;
        border:3px solid #cecece;
    }
    #user_input{
        margin-top:5px;
        display: flex;
        input{
            width:75%;
            height:50px;
            padding:10px 20px;
            border:3px solid #cecece;
            font-size: 1.2rem;

            &::placeholder{
                font-size: 1.2rem;
            }
        }
        button{
            width:25%;
            color:white;
            height:50px;
            padding:10px 20px;
            border:2px solid #6d6dfa;
            background-color:#6d6dfa;
            cursor: pointer;
            font-size: 1.2rem;
        }
    }

}

#chat_messages{
    width:100%;
    height:100%;
    padding:20px;
    overflow-y: auto;
    div{
        width: 100%;
        display: grid;
        margin-bottom: 25px;
        
        li{
            list-style: none;
            width:fit-content;
            padding:8px 20px;
            color:#fff;
            border-radius: 5px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    
        li[data-user="sender"]{
            background-color:mediumaquamarine;
            justify-self: flex-end;
        }
        li[data-user="receiver"]{
            background-color:salmon;
            justify-self: flex-start;
        }
        li[data-user="new_member"]{
            color:black;
            justify-self: center;
            padding:5px 20px;
        }
    }
    
}

@media only screen and (max-width:600px)  {
    nav{
        justify-content:space-between;
        h1{
            display: none;
        }
        div,a{
            margin-left: 0;
            margin-right: 0;
            padding:5px 10px;
        }
    }

    #content{
        padding:0px;
        #left-sec{
            display: none;
        }

        #right-sec{
            margin-left: 0;
            width:100%;

            #chat_box{
                height:79vh;
            }
        }
        #user_input{
            display: flex;
            align-items: center;
            input{
                margin-right: 0;
                padding: 5px 10px;
                width:70%;
                outline: none;
                font-size: 1rem;
            }
            button{
                padding:8px 10px;
                font-size: .7em;
                margin-left: 2px;
                width:30%;
            }
        }
    }
    
}

//Tablet styles

@media only screen and (min-width:768px) and (max-width: 992px){
    nav {
        a{
            margin:0
        }
        div{
            margin: 0;
        }
    }
    #content{
        padding:10px;
        #left-sec{
            width:35%;
            height:85vh;
        }
        #right-sec{
            height:85vh;
            #user_input{
                display: flex;
            }
            
            #chat_box{
                height:74vh;
            }
        }
    }
}
