* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
}
nav div i {
  margin-right: 10px;
}
nav h1 {
  letter-spacing: 5px;
  font-size: 1.5rem;
}
nav div, nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin-left: 90px;
  margin-right: 135px;
  background-color: #6d6dfa;
}

#content {
  display: flex;
  padding: 50px 100px;
}
#content #left-sec {
  padding: 8px;
  width: 20%;
  border: 3px solid #cecece;
  overflow-y: auto;
}
#content #left-sec #users_online div {
  padding: 10px;
  background-color: #6d6dfa;
  color: white;
  margin-top: 5px;
}
#content #left-sec #online_header {
  background-color: #6d6dfa;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}
#content #right-sec {
  width: 75%;
  margin-left: 20px;
}
#content #chat_box {
  width: 100%;
  height: 60vh;
  border: 3px solid #cecece;
}
#content #user_input {
  margin-top: 5px;
  display: flex;
}
#content #user_input input {
  width: 75%;
  height: 50px;
  padding: 10px 20px;
  border: 3px solid #cecece;
  font-size: 1.2rem;
}
#content #user_input input::placeholder {
  font-size: 1.2rem;
}
#content #user_input button {
  width: 25%;
  color: white;
  height: 50px;
  padding: 10px 20px;
  border: 2px solid #6d6dfa;
  background-color: #6d6dfa;
  cursor: pointer;
  font-size: 1.2rem;
}

#chat_messages {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}
#chat_messages div {
  width: 100%;
  display: grid;
  margin-bottom: 25px;
}
#chat_messages div li {
  list-style: none;
  width: fit-content;
  padding: 8px 20px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
#chat_messages div li[data-user=sender] {
  background-color: mediumaquamarine;
  justify-self: flex-end;
}
#chat_messages div li[data-user=receiver] {
  background-color: salmon;
  justify-self: flex-start;
}
#chat_messages div li[data-user=new_member] {
  color: black;
  justify-self: center;
  padding: 5px 20px;
}

@media only screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
  }
  nav h1 {
    display: none;
  }
  nav div, nav a {
    margin-left: 0;
    margin-right: 0;
    padding: 5px 10px;
  }
  #content {
    padding: 0px;
  }
  #content #left-sec {
    display: none;
  }
  #content #right-sec {
    margin-left: 0;
    width: 100%;
  }
  #content #right-sec #chat_box {
    height: 79vh;
  }
  #content #user_input {
    display: flex;
    align-items: center;
  }
  #content #user_input input {
    margin-right: 0;
    padding: 5px 10px;
    width: 70%;
    outline: none;
    font-size: 1rem;
  }
  #content #user_input button {
    padding: 8px 10px;
    font-size: 0.7em;
    margin-left: 2px;
    width: 30%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  nav a {
    margin: 0;
  }
  nav div {
    margin: 0;
  }
  #content {
    padding: 10px;
  }
  #content #left-sec {
    width: 35%;
    height: 85vh;
  }
  #content #right-sec {
    height: 85vh;
  }
  #content #right-sec #user_input {
    display: flex;
  }
  #content #right-sec #chat_box {
    height: 74vh;
  }
}